<section class="publishform">
    <form [formGroup]="publishForm">
        <h1 class="title">Include Details</h1>
        <div class="container">
            <div class="publish-form row">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="bname" formControlName="bname" placeholder="Book Name"
                        required>
                    <label for="floatingInput">Book Name</label>
                </div>
                <div class="form-field col-lg-12">
                    <select (change)="selectedCategory($event)" class="form-select" name="category" id="category">
                        <option>--Category--</option>
                        <option *ngFor="let opt of ngOptions" [value]="opt">{{opt}}</option>
                    </select>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input class="form-control" type="text" id="noofpages" formControlName="nofpages"
                        placeholder="no of pages">
                    <label for="noofpages">No of Pages</label>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input class="form-control" type="text" id="setaprice" formControlName="price" placeholder="Price">
                    <label for="setaprice">Set a price</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="acctno" formControlName="acctno"
                        placeholder="account number">
                    <label for="floatingInput">Account Number</label>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input class="form-control" type="text" id="target" formControlName="target"
                        placeholder="no of target">
                    <label for="noofpages">No of Target</label>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input class="form-control" type="date" id="dateexpected" formControlName="dateexpected"
                        placeholder="Amount Excepted Date">
                    <label for="noofpages">Amount Excepted Date</label>
                </div>
                <div class="form-floating">
                    <textarea type="text" class="form-control" id="description" formControlName="description"
                        placeholder="Description"></textarea>
                    <label for="description">Description</label>
                </div>
                <div class="form-field col-lg-12 mb-3">
                    <label for="sampleimages" class="form-label">Book Cover Photo</label>
                    <input class="form-control" type="file" id="sampleimages" (change)="selectFile($event)">
                </div>
                <div class="form-field col-lg-12 mb-3">
                    <label for="samplepdf" class="form-label">Upload sample story in PDF Format</label>
                    <input class="form-control" type="file" id="samplepdf" (change)="selectPDF($event)">
                </div>
            </div>
        </div>
    </form>
    <div class="form-field col-lg-12" *ngIf="user$|async as user">
        <button class="btn btn-dark btn-block btn-lg checkk" id="publish" (click)="publishBook(user)"
            [disabled]="publishForm.invalid">
            <div class="d-flex justify-content-between"><span>Publish</span></div>
        </button>
    </div>
</section>