<!-- <div class="row">
    <div class="col-sm-3" *ngFor="let customer of pcustomers">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{customer.uname}}</div>
            <div class="card-body">
                <h2 class="card-title">{{customer.bname}}</h2>
                <h3 class="card-title">Target : {{customer.target}}</h3>
                <h3 class="card-title">Received Orders : {{customer.receivedorders}}</h3>
                <h3 class="card-title">Price :<strong> ${{customer.price}}</strong></h3>
            </div>
            <button type="button" class="btn btn-warning" routerLink="/paymentcard/{{customer.bid}}">Finish Project</button>
            <button type="button" class="btn btn-dark hov" (click)="unifinished(customer)">Unfinished</button>
        </div>
    </div>
</div> -->


<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4" *ngFor="let customer of pcustomers">
            <div class="card" style="width: 18rem;">
                <!-- <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h2 class="card-title">{{customer.uname}}</h2>
                    <h3 class="card-subtitle mb-2 text-muted">{{customer.bname}}</h3>
                    <h4 class="card-title">Target : {{customer.target}}</h4>
                    <h4 class="card-title">Received Orders : {{customer.receivedorders}}</h4>
                    <h4 class="card-title">Price :<strong> ${{customer.price}}</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button class="col btn btn-dark-moon btn-rounded" routerLink="/paymentcard/{{customer.bid}}">Finish</button>
                    <button class="col btn btn-pink-moon btn-rounded" (click)="unifinished(customer)">Unfinish</button>
                </div>
            </div>
        </div>
    </div>
</div>