<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">"We help to tell your stories to the world."</p>
                    <p class="aboutus-text">You want to find a motto for your company. You need the very best advice
                        that comes from the minds of some of the most impactful people in business.
                        Whether you're starting, leading, or taking tentative steps to grow and evolve your business,
                        these are the business quotes to keep for your times of need.
                        Take heart in the knowledge that business isn't flawless, and the journey to success is often
                        long and winding - most overnight successes took a lot of trial and error to get where they are
                        today.

                    </p>
                    <a class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img class="adjimg" src="../../../assets/publishing-book.png">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <!-- <span class="glyphicon glyphicon-cog icon"></span> -->
                            </div>
                            <div class="feature-content">
                                <h4>Work with heart</h4>
                                <p>Great teamwork is about working together and collaborating to come up with better
                                    approaches.
                                    we have a good team who takes risks and comes up with good ideas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <!-- <span class="glyphicon glyphicon-cog icon"></span> -->
                            </div>
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>Good customer service means consistently meeting customers' expectations. Great
                                    customer service is quick, easy, personalized, and empathetic. Companies that
                                    deliver excellent customer service take the time needed to understand the needs of
                                    their unique customer base</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <!-- <span class="glyphicon glyphicon-cog icon"></span> -->
                            </div>
                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p>Customer service is the support you offer your customers — both before and after they
                                    buy and use your products or services — that helps them have an easy and enjoyable
                                    experience with you. Offering amazing customer service is important if you want to
                                    retain customers and grow your business.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>>
            <div class="contactus">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                    src="https://img.icons8.com/glyph-neue/64/000000/user-location.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                    src="https://img.icons8.com/ios-filled/50/000000/phone.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                    src="https://img.icons8.com/ios-filled/50/000000/new-post.png" />
                <br><br>
                Nirmala College,Muvattupuzha &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                + 91 4852 832 361&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                publishbook@gmail.com

            </div>
        </div>
    </div>
</div>